
<MULTICHANNELSERVER>
  <SERVER>
    <PARAMETER NAME="SERVER_ID" VALUE="01"/>
    <PARAMETER NAME="LOGVIEWER" VALUE="message.log"/>
    <PARAMETER NAME="AUTOSTART" VALUE="YES"/>
    <PARAMETER NAME="SERVICE_IDS" VALUE="03"/>
    <PARAMETER NAME="LONG_AUDIT_SERVICES" VALUE="01"/>
    <PARAMETER NAME="WAIT_TRANSACTIONS_TIMEOUT" VALUE="70" COMMENT="in sec"/>
    <PARAMETER NAME="USE_LOCAL_RINGS" VALUE="ON"/>
  </SERVER>
  <CHANNEL NAME="MONITOR">
    <PARAMETER NAME="AUTOSTART" VALUE="1"/>
    <PARAMETER NAME="DIRECTORY" VALUE="monitor/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/monitor.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="HSM_XFACE_1">
    <PARAMETER NAME="AUTOSTART" VALUE="1"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/hsmxftcp_1.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="hsmxface/"/>
  </CHANNEL>
  <CHANNEL NAME="HSM_XFACE_2">
    <PARAMETER NAME="AUTOSTART" VALUE="1"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/hsmxftcp_2.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="hsmxface/"/>
  </CHANNEL>
  <CHANNEL NAME="OWN_AUTH_1">
    <PARAMETER NAME="AUTOSTART" VALUE="2"/>
    <PARAMETER NAME="DIRECTORY" VALUE="auth/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/auth_1.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="OWN_AUTH_2">
    <PARAMETER NAME="AUTOSTART" VALUE="2"/>
    <PARAMETER NAME="DIRECTORY" VALUE="auth/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/auth_2.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="CB_GATE">
    <PARAMETER NAME="AUTOSTART" VALUE="3"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/cb_gate.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="standin/"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_BB2">
    <PARAMETER NAME="AUTOSTART" VALUE="3"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_bb2.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
  </CHANNEL>
  <CHANNEL NAME="INTRA_NET">
    <PARAMETER NAME="AUTOSTART" VALUE="4"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/intranet.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="INTRALINK">
    <PARAMETER NAME="AUTOSTART" VALUE="4"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/intralink.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
  </CHANNEL>
  <CHANNEL NAME="AFFILIATED">
    <PARAMETER NAME="AUTOSTART" VALUE="4"/>
    <PARAMETER NAME="DIRECTORY" VALUE="customs/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/aff.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="MC_CRED_1">
    <PARAMETER NAME="AUTOSTART" VALUE="5"/>
    <PARAMETER NAME="DIRECTORY" VALUE="mastcard/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/mc_cred_1.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="VISAVIP">
    <PARAMETER NAME="AUTOSTART" VALUE="6"/>
    <PARAMETER NAME="DIRECTORY" VALUE="visanet/visavip/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/visavip.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="VISASMS">
    <PARAMETER NAME="AUTOSTART" VALUE="6"/>
    <PARAMETER NAME="DIRECTORY" VALUE="visanet/visasms/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/visasms.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="UNKNOWN_CARD">
    <PARAMETER NAME="AUTOSTART" VALUE="7"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/unknown.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="DCI_HOST">
    <PARAMETER NAME="AUTOSTART" VALUE="NO"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/dci_host.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="dciiso/"/>
  </CHANNEL>
  <CHANNEL NAME="AMEXPOS">
    <PARAMETER NAME="AUTOSTART" VALUE="7"/>
    <PARAMETER NAME="DIRECTORY" VALUE="amexiso/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/amexpos.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="ATM_1_X25">
    <PARAMETER NAME="AUTOSTART" VALUE="8"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm_1.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_2_X25">
    <PARAMETER NAME="AUTOSTART" VALUE="8"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm_2.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_4_X25">
    <PARAMETER NAME="AUTOSTART" VALUE="8"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm_4.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_5_X25">
    <PARAMETER NAME="AUTOSTART" VALUE="9"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm_5.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_6_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="9"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm_6.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_8_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="9"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm_8.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_9_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="10"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm_9.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_10_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="10"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm10.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_11_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="10"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm11.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_12_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="11"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm12.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_13_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="11"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm13.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_14_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="11"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm14.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_15_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="12"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm15.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_16_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="12"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm16.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_17_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="12"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm17.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_18_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="13"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm18.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_19_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="13"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm19.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_20_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="13"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm20.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_21_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="14"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm21.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_22_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="14"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm22.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_23_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="14"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm23.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_45_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="15"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm45.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_46_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="15"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm46.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_47_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="15"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm47.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_48_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="16"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm48.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_51_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="16"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm51.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_52_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="16"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm52.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_55_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="17"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm55.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_56_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="17"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm56.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
     
  </CHANNEL>
  <CHANNEL NAME="ATM_59_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="17"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm59.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
  </CHANNEL>
  <CHANNEL NAME="ATM_60_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="18"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm60.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
  </CHANNEL>
  <CHANNEL NAME="ATM_63_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="18"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm63.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
  </CHANNEL>
  <CHANNEL NAME="ATM_64_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="18"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/atm64.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="atmctrl/"/>
  </CHANNEL>
  <CHANNEL NAME="MPOS_1_SOTCP">
    <PARAMETER NAME="AUTOSTART" VALUE="19"/>
    <PARAMETER NAME="SERVICE_ID" VALUE="03"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/mpos_1_s.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="posctrl/"/>
  </CHANNEL>
  <CHANNEL NAME="MPOS_1B_SOTCP">
    <PARAMETER NAME="AUTOSTART" VALUE="19"/>
    <PARAMETER NAME="SERVICE_ID" VALUE="03"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/mpos_1b_s.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="posctrl/"/>
  </CHANNEL>
  <CHANNEL NAME="MPOS_2_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="19"/>
    <PARAMETER NAME="SERVICE_ID" VALUE="03"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/mpos_2_t.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="posctrl/"/>
  </CHANNEL>
  <CHANNEL NAME="MPOS_3_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="20"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/mpos_3_t.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="posctrl2/"/>
  </CHANNEL>
  <CHANNEL NAME="MPOS_4_SOTCP">
    <PARAMETER NAME="AUTOSTART" VALUE="20"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/mpos_4_s.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="posctrl2/"/>
  </CHANNEL>
  <CHANNEL NAME="MPOS_5_AGNT_TCP">
    <PARAMETER NAME="AUTOSTART" VALUE="20"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/mpos_5_t.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="posctrl2/"/>
  </CHANNEL>
  <CHANNEL NAME="MPOS_4B_SOTCP">
    <PARAMETER NAME="AUTOSTART" VALUE="21"/>
    <PARAMETER NAME="SERVICE_ID" VALUE="03"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/mpos_4b_s.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="posctrl/"/>
  </CHANNEL>
  <CHANNEL NAME="BILLING1">
    <PARAMETER NAME="AUTOSTART" VALUE="21"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/billing1.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="BILLING2">
    <PARAMETER NAME="AUTOSTART" VALUE="21"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/billing2.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="BILLING3">
    <PARAMETER NAME="AUTOSTART" VALUE="22"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/billing3.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="E_COMMERCE">
    <PARAMETER NAME="AUTOSTART" VALUE="22"/>
    <PARAMETER NAME="SERVICE_ID" VALUE="03"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/ecommerc.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <!--PARAMETER NAME="DIRECTORY" VALUE="ecommerc/"/-->
    <PARAMETER NAME="DIRECTORY" VALUE="ecommrc2/"/>
  </CHANNEL>
  <CHANNEL NAME="HOME_BANKING">
    <PARAMETER NAME="AUTOSTART" VALUE="22"/>
    <PARAMETER NAME="SERVICE_ID" VALUE="03"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/homebank.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="ecommerc/"/>
  </CHANNEL>
  <CHANNEL NAME="DATA_GATE">
    <PARAMETER NAME="AUTOSTART" VALUE="23"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/datagate.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="datagate/"/>
     
  </CHANNEL>
  <CHANNEL NAME="DATAGATE_INF">
    <PARAMETER NAME="AUTOSTART" VALUE="23"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/datagate_inf.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="datagate/"/>
     
  </CHANNEL>
  <CHANNEL NAME="SOMECARD">
    <PARAMETER NAME="AUTOSTART" VALUE="23"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/somecard.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="NOWHERE">
    <PARAMETER NAME="AUTOSTART" VALUE="24"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/nowhere.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="AKIBANK">
    <PARAMETER NAME="AUTOSTART" VALUE="24"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/akibank.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="FORSHTADT">
    <PARAMETER NAME="AUTOSTART" VALUE="25"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/forshtadt.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_AB1">
    <!--PARAMETER NAME="AUTOSTART" VALUE="NO"/-->

    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_ab1.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_AB4">
    <PARAMETER NAME="AUTOSTART" VALUE="25"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_ab4.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_AB5">
    <PARAMETER NAME="AUTOSTART" VALUE="25"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_ab5.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_BB4">
    <PARAMETER NAME="AUTOSTART" VALUE="26"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_bb4.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_AB3">
    <PARAMETER NAME="AUTOSTART" VALUE="26"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_ab3.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_BB6">
    <PARAMETER NAME="AUTOSTART" VALUE="26"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_bb6.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_AB6">
    <PARAMETER NAME="AUTOSTART" VALUE="27"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_ab6.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_AB9">
    <PARAMETER NAME="AUTOSTART" VALUE="27"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_ab9.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_BB5">
    <!--PARAMETER NAME="AUTOSTART" VALUE="NO"/-->
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_bb5.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_BB3">
    <!--PARAMETER NAME="AUTOSTART" VALUE="NO"/-->
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_bb3.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_BB7">
    <PARAMETER NAME="AUTOSTART" VALUE="27"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_bb7.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_AB8">
    <PARAMETER NAME="AUTOSTART" VALUE="28"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_ab8.xml"/> 
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_AB7_MC">
    <PARAMETER NAME="AUTOSTART" VALUE="28"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_ab7_mc.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_BB1">
    <PARAMETER NAME="AUTOSTART" VALUE="NO"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_bb1.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
  </CHANNEL>
  <CHANNEL NAME="H2H_AB2">
    <PARAMETER NAME="AUTOSTART" VALUE="NO"/>
    <PARAMETER NAME="DIRECTORY" VALUE="h2hxface/"/>
    <PARAMETER NAME="CFILE" VALUE="conf/init/h2h_ab2.xml"/>
    <PARAMETER NAME="FILENAME" VALUE="channel/channel"/>
  </CHANNEL>
</MULTICHANNELSERVER>
